---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import Social from './Social.astro';
---

<header>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>